<h2 id=list-header>What's on your mind?</h2>

<mat-card id=cardstyle *ngFor='let chirp of chirps' (click)="openDialog(chirp)" appCardHover class='chirp-card'>

    <img src='/Users/Innovationbham_3/Desktop/p1-client/src/assets/work.png'>
    <mat-card-title>{{ chirp.name | uppercase }}</mat-card-title>
    <mat-card-subtitle>@{{ chirp.username }}</mat-card-subtitle>
    <mat-card-content><p>{{ chirp.message }}</p></mat-card-content>
    <mat-card-actions>
      <button mat-button><i class="material-icons">delete</i></button>
      <button mat-button><i class="material-icons">favorite_border</i></button>
      <button mat-buttom><i class="fa fa-retweet" aria-hidden="true"></i></button>
    </mat-card-actions>
  
  </mat-card>

  