.chirp-card {
    margin: 0em auto 1em; 
    text-align: left;
    color: FFFF00;
}

#hover-color{
    background-color: rgb(129, 212, 250);
    z-index: 3;
    opacity:2;
}

#list-header{
    color:black;
    text-align: center;
}

#cardstyle {
    background-color:#0ba5a3;
    color: white;
    margin-left:30%;
    margin-right: 30%;
}
.fafaretweet{
    height: 3em;
}

#cardstyle2 {
    background-color:#000000;
    color: white;
    margin-left:30%;
    margin-right: 30%;
    padding-bottom: 2 em;
    
}
.box{
   
   margin-bottom: 1em !important; 
}

#chirparea{
    width: 90%;
    height: 5em;
    margin-left: 3%;
}

.img-container {
    width: 100%;
    margin: 0;
}

.chirp-form-img {
    margin-left: auto;
    margin-right: auto;
}