.chirp-card {
    margin: 0em auto 1em; 
    text-align: left;
    color: pink;
    background-color: gray;
}

#hover-color{
    background-color: rgb(129, 212, 250);
    z-index: 3;
    opacity:2;
}

#list-header{
    color:lavenderblush;
}

