<h2>Who's Chirpin</h2>


<div class="box">

<mat-card routerLink='/profile/{{user.id}}' class='user-card'  *ngFor='let user of users'  appCardHover id="cardstyle">

 <img mat-card-image src="{{user.background_img}}" alt="">
  
  <mat-card-header>
    
    <img mat-card-avatar src="{{ user.pro_img }}">
    
  <mat-card-title routerLink='/profile/{{user.id}}'>{{user.name}}</mat-card-title>
  <mat-card-subtitle routerLink='/profile/{{user.id}}'>@{{user.username}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>

</div>


