.user-card {
    margin: 0em auto 1em; 
    text-align: left;
    color: FFFF00;
   
    
}

#hover-color{
    background-color: rgb(129, 212, 250);
    z-index: 3;
    opacity:2;
}

#list-header{
    color:black;
}

#cardstyle {
    background-color:#0ba5a3;
    color: white;
    margin-left:30%;
    margin-right: 30%;
}
.fafaretweet{
    height: 3em;
}


h2{
    color: #0ba5a3;
}


.profile-pic{
    height:5em;
    margin:1em;
    width:5em;
    
}
