

<ng-container *ngIf="user$ | async as user;">
  <mat-card [ngStyle]="{ 'background': 'url(' + user.background_img + ')' }" class="img-bg">
  </mat-card>

  <div class="profile-pic-container">
    <img mat-card-lg-image class="profile-pic" src="{{ user.pro_img }}">
  </div>

  <mat-card class="user-info" >
    <mat-card-title class="title-margin">{{ user.name }}</mat-card-title>
    <mat-card-subtitle class="black-font"> {{ user.email }}</mat-card-subtitle>
    <mat-card-content>{{ user.tagline }}</mat-card-content>
    <button class="side-nav-btn" type="button" mat-button [routerLink]="['/profile', user.id]">
        Back to Main Profile
    </button>
  </mat-card>
</ng-container>

<ng-container *ngFor="let follower of followers">
<mat-card id="cardstyle" class="follower-card" (click)="openDialog(follower)">
  <mat-card-header>
    <img mat-card-avatar src="{{ follower.pro_img }}"/>
    <mat-card-title>{{ follower.name }}</mat-card-title>
    <mat-card-subtitle>@{{ follower.username }}</mat-card-subtitle>
  </mat-card-header>

  <p>{{ follower.message }}</p>
</mat-card>
</ng-container>