mat-card {
    color: black 
}

.black-font {
    color: black;
}

.test {
    height: 400px;
    width: 800px;
}

mat-card .title-margin {
    margin-top: 50px;
}
.img-bg {
    height: 15vh;
    background-size:  cover !important;
    background-repeat: no-repeat;
    background-position: center !important;
}

.user-info {
    height: 22vh;
    background-color: #fff;
    text-align: center;
}

.profile-pic-container{
    width: 98.5%;
    position:  absolute;
    z-index: 100;
    margin: 0;
}

.profile-pic {
    
    z-index: 100;
    border-radius: 50%;
    margin-left: auto;
	margin-right: auto;
    display: block;
    margin-bottom: 50px;
    position: relative;
    bottom: 70px;
}



.chirps-list {
    background-color: #0ba5a3;
    margin: 0 auto;
    color: white;
    width: 44%;
    margin-top: 20px;

}

.following-nav {
    background-color: #0ba5a3;
    margin: 10px;
    color: white;
    text-align: center;
    margin-top: 10px;

}


.mat-drawer-container {
    background-color: transparent;
}

.side-nav-btn {
    z-index: 100;
    background-color: #0ba5a3;
    color: #fff;
}

.mat-drawer {
    background-color: black;
}
  
.following-img {
    border-radius: 50%;
    margin-bottom: 15px;
}

.example-container {
    min-height: 340px;
}

mat-card-subtitle .user-opacitiy {
    color: rgba(255, 255, 255, 0.7);
}

mat-card .prof-pic-cover {
    background-size: cover;
}