
<ng-container *ngIf="user$ | async as user;">
  <mat-card [ngStyle]="{ 'background': 'url(' + user.background_img + ')' }" class="img-bg">
  </mat-card>
</ng-container>

<ng-container *ngIf="user$ | async as user;">
  <div class="profile-pic-container">
    <img mat-card-lg-image class="profile-pic" src="{{ user.pro_img }}">
  </div>
</ng-container>

<ng-container *ngIf="user$ | async as user;">
  <mat-card class="user-info" >
    <mat-card-title class="title-margin">{{ user.name }}</mat-card-title>
    <mat-card-subtitle> {{ user.email }}</mat-card-subtitle>
    <mat-card-content>{{ user.tagline }}</mat-card-content>
    <button class="side-nav-btn" type="button" mat-button (click)="sidenav.open()">
        Who do I follow?
    </button>
  </mat-card>
</ng-container>


<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav class="example-sidenav">
        <mat-card *ngFor="let follower of followers" class="chirps-list following-nav" >
            <img mat-card-sm-image src="{{ follower.pro_img }}" class="following-img" >
            <mat-card-title>{{ follower.name }}</mat-card-title>
            <mat-card-subtitle>{{follower.username}}</mat-card-subtitle>
        </mat-card>
    </mat-sidenav>
  
    <div class="example-sidenav-content">
      
      <mat-card *ngFor="let chirp of chirps" class="chirps-list">
          <mat-card-title>{{ chirp.name }}</mat-card-title>
          <mat-card-content>{{ chirp.message }}</mat-card-content>
      </mat-card>
    </div>
  
</mat-sidenav-container>




