@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';


body {
    margin-top: 5em;
    text-align: center;
  }
  
  #toolBar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: lavenderblush;
    background-color:pink;
  }
