@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';


body {
    margin-top: 5em;
    background-color: #2d3e50;
  }
  
  #toolBar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: lavenderblush;
    background-color:black;
  }

  #cardstyle {
    background-color:#0ba5a3;
    color: white;
}